<aside>
	<div class="panel radius">
		<h3>Clubabend</h3>
		<p>
		Die Mitglieder des MSC treffen sich jeden Monat beim geselligen Clubabend im Gasthaus Lederer in Surheim. Neben Neuigkeiten rund um den Verein, unsere Veranstaltungen und zu den Motorsportaktivitäten der Mitglieder kommen natülich auch Benzingespräche nicht zu kurz. Herzlich eingeladen sind auch alle (noch) nicht-Mitglieder die Interesse an unseren Aktivitäten oder Veranstaltungen haben. Genaue Termine zu unseren Clubabenden und anderen Veranstaltungen gibt es <a href="/termine/">hier</a>.
		</p>
	</div>

  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
</aside>

[1]: /termine/
